<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Exercice 4</title>
    </head>
    <body>
        <div id="header">
            <h1>Module 101 – ex4 - tables</h1>
        </div>
        <div id="nav">

        </div>
        <div id="content">
            <table>
                <form id="myForm" method="post" action="mailto:info@w3docs.com?subject=Données du formulaire 101" enctype="text/plain">
                    <tr>
                        <td>
                            <label for="titre">Titre</label>
                        </td>
                        <td>
                            <select name="titre" id="titre">
                                <option value="mr">Monsieur</option>
                                <option value="mme">Madame</option>
                                <option value="mmelle">Mademoiselle</option>
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="nom">Nom</label>
                        </td>
                        <td>
                            <input type="text" name="nom" id="nom">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="prenom">Prénom</label>
                        </td>
                        <td>
                            <input type="text" name="prenom" id="prenom">
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="demande">Demande</label>
                        </td>
                        <td>
                            <textarea name="demande" id="demande" cols="20" rows="4"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="email" >Email</label>
                        </td>
                        <td>
                            <input type="email" name="email" id="email" required autofocus>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label for="telephone">Téléphone</label>
                        </td>
                        <td>
                            <input type="text" name="telephone" id="telephone" required  placeholder="ex: +41 77 598 90 78"
                                   pattern="[+][1-9]{2,3}[\s]{0,1}[1-9]{2}[\s]{0,1}[0-9]{3}[\s]{0,1}[0-9]{2}[\s]{0,1}[0-9]{2}">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="rTelephone">Répondez moi par Téléphone</label>
                        </td>
                        <td>
                            <input type="radio" name="contactType" id="rTelephone" value="telephone">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="rMail">Répondez moi par email</label>
                        </td>
                        <td>
                            <input type="radio" name="contactType" id="rMail" value="mail">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="submit" value="Envoyer">
                        </td>
                        <td>
                            <input type="reset" value="Réinitialiser">
                        </td>
                    </tr>
                </form>
            </table>
        </div>
        <div class="TestController">
            helloooooooooooo , {{token}}
        </div>
        <div class="GridController">
        </div>

        <div id="footer">
            <span>CIE101 – 22.06.2020</span>
        </div>
    </body>
</html>