<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Exercice 4</title>
    </head>
    <body>
        <div id="header">
            <h1>Home Page</h1>
        </div>
        <div id="nav">

        </div>
        
        <div id="content">
            Data from backend: {{token}}
        </div>

        <div class="TestController">
            <a href="/testTemplate">link to test template</a>
        </div>
        <div class="GridTemplate">
            <a href="/gridTemplate">link to grid template</a>
        </div>
                <div class="lobbyTemplate">
            <a href="/lobbyTemplate">Go to Lobby!</a>
        </div>
        <br>
        <br>
        <div>
            <a href="/players/all">all players</a>
        </div>
        <br>
        <div>
            <a href="/homepage">Go to Home Page</a>
        </div>
        <div id="footer" style="margin-top:30px">
            <span style="background-color:#ff1212">Luca Maggioli Copyright @2021</span>
        </div>
    </body>
</html>