<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <script type="text/javascript" src="{{ url_for('static', filename='js/gameScripts.js') }}"></script>
</head>
<body onload="createGrid({{grid['CordMax']['X']}}, {{grid['CordMax']['Y']}}), showBoatsToPlace({{availableBoats}})">
<h1>Ici s'affichent les 2 tableaux</h1>
<div>
    <div>
        {{grid}}
    </div>
        <h2>Placer les bateaux sur la grille</h2>
    <button onclick="giveBoats()">clickit</button>
    <div style="display:flex; flex-align:row">
        <div id="gridContainer"></div>
        <div id="boatToPlaceContainer"></div>
    </div>
</div>
<div>
    <h2>le deuxieme celui ou le joueur envoye des missiles</h2>
    <div>
         {{gridPlay}}
    </div>
</div>
</body>
</html>