<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lobby</title>
</head>
<body>
<div class="GameForm">
        <form action="/startGame" method="POST">
          <div>
            <label for="nickName">Nickname : </label>
            <input name="nickName" id="nickName">
          </div>
          <div>
            <label for="newGameId">Game Id : </label>
            <input name="newGameId" id="newGameId">
          </div>
            <div>
            <label for="gridSize">Grid size : </label>
            <input name="gridSize" id="gridSize">
          </div>
          <div>
            <button>Start game !</button>
          </div>
        </form>
    </div>
</body>
</html>